*{
    margin: 0;
    padding: 0;
}
ul，li{
    display: block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
head{
    width: 100%;
    height: 1.3333rem;
    background-color: blue;
}
.head-link{
  width: 100%;
  height: .5333rem;
  background-color: blue;
}
.h-lin{
   width: 70%;
   height: .5333rem;
   float: left;
   background-color: blue;
}
.h-lin p{
    font-size: .1867rem;
    margin-left: .2667rem;
    color: #fff;
    margin-top: .0667rem;
}
.h-lin span{
    margin-left: .2667rem;
}
.h-line{
  float: right ;
  background-color: blue;
  height: .5333rem;
  width: 30%;
}
.h-line .icon{
    color: #fff;
    margin-left: .0667rem;
    font-size: .2267rem;
    margin-top: .0667rem;
}
.text-time{
    float: right;
    color: #fff;
    font-size: .2267rem;
    margin-right: .1333rem;
    margin-top: .0667rem;
}
.head-box{
    width: 100%;
    height: .8rem;
    background-color: blue; 
}
.head-box span {
    float: left;
    width: 30%;
    height: .8rem;
    color: #fff;
    font-size: .3333rem;
    margin-left: .2667rem;
    margin-top: .0667rem;
}
.tex{
float: right;
color: #fff;
font-size: .2667rem;
width: 60%;
height: .8rem;
}
.sel{
    width: 100%;
    background-color: #edf1f2;
    height: 2.6667rem;
    clear: both;
}
.sel-r{
    width: 70%;
    height: 2.6667rem;
    color: gainsboro;
    float: left;
    
}
.sel-r p{
    margin-left: .2667rem;
    font-size: .3333rem;
    margin-top: .2667rem;
}
.sel-f{
    width: 30%;
    height: 2.6667rem;
    color: blue;
    float: right;   
}
.ss{
    color: orange;
    margin-top: .2667rem;
} 
.active{
    font-size: .2667rem;
    color: orange;
    margin-top: .2667rem;
   font-size: .6667rem;
}
.ty{
    color: gainsboro;
    font-size: .2667rem;
    margin-top: .1333rem;
    margin-left: .2667rem;
}
.cen-t{
  width: 100%; 
  height: 5.3333rem;
  border: 1px solid gainsboro;
  background-color: #edf1f2;
  clear: both;
}
.cen-y{
  width: 100%; 
  height:30%; 
  background-color: #fff;
}
.c-y{
width: 30%;
height:30%; 
float: left;
}
h2{
    color: #888d94;
    margin-top: .1333rem;
    margin-left: .2667rem;
}
.c-y p{
    color: #a9aaad;
    margin-top: .1333rem;
    margin-left: .2667rem; 
    font-size: .2rem;
}
.c-n{
    float: left;
   width: 40%; 
   height: 30%;
   position: relative;
}
.c-n img{
    width: .4rem;
    height: .4rem;
    position: absolute;
    top: .5333rem;
    left: .8rem;
}
.cen-k{
    width: 100%; 
    height:70%; 
    clear: both;
}
.cen-mm{
    float: left;
    width: 50%;
    height: 30%;
    margin-left: .2667rem;
}
.cen-m{
    float: left;
    width: 30%;
    height: 30%;
    margin-left: .2667rem;
}
.bb{
    color: #37b4db;
}
.cen-im{
    width:100%;
    height: 2.6667rem;
}
.cen-im img{
    width:100%;
    height: 2.6667rem;
} 
.cr-u{
   width: 100%;
   height: .6667rem; 
   background-color: #37b4db;
   margin-top: .6667rem;
}
.cr-u p{
    margin-left: .2667rem;
    margin-top: .1333rem;
    color:#fff;
    line-height: .6667rem;
}
.foot{
    width: 100%;
    height: 6rem;
}
.nba{
    width: 100%;
    height: 40%;
    clear: both;
    border-bottom: .0133rem solid gainsboro;
}
.nb-s{
    width: 80%;
    height: 40%;
    float: left;
}
.df{
    padding-left: .2667rem;
    padding-top: .1333rem;
}
.dg{
    width: 1.3333rem;
    height: .5333rem;
    border: .0133rem solid gainsboro;
    margin-left: .2667rem;
    margin-top: .0667rem;
}
.dg-o{
   text-align: center;
   line-height: .5333rem;
   float: left;
   width: 30%;
   height: .5333rem;
}
.dg-l{
    border: .0133rem solid gainsboro;
    float: left;
    width: 30%;
    height: .5333rem;
    text-align: center;
    line-height: .5333rem;
    background-color:#e5e5e5 ;
}
.dg-m{
    text-align: center;
    line-height: .5333rem;
    float: left;
    width: 30%;
    height: .5333rem;
}
.nb-l{
    width: 20%;
    height: 40%;
    float: left;
    margin-top: .2667rem;
   
}
.sd{
    color: orange;
    font-size: .2133rem;
}
.fg{
    color: orange;
    font-size: .3333rem;
}
.nb{
    width: 100%;
    height: 60%;
    clear: both;
    border-bottom: .0133rem solid gainsboro;
}
.nba-d{
    width: 100%;
    height: 40%;
    clear: both;
}
.boot{
    width: 100%;
    height: 5.3333rem;
}
h3{
   margin-left: .2667rem; 
}
.boot p{
    margin-left: .2667rem; 
    margin-top: .1333rem;
}
.op{
    width: 100%;
    height: 60%;
}
.op-d{
    width: 100%;
    height: 50%;   
    clear: both;
}
.o-d{
    float: left;
    width: 100W;
    height: 60%;
}
.o-m{
  float: right;
  margin-left: .2667rem; 
  margin-top: .1333rem;
}
.op-l{
    width: 100%;
    height: 30%;   
}
.qw{
    color: #a9aaad;
}
.op-d-f{
    width: 100%;
    height: 50%;   
    clear: both;
    margin-top: .4rem;
}
.dd{
    position: relative;
    margin-bottom: .2667rem;
    border-bottom: .0133rem solid gainsboro;

}
.jpg{
    color: #37b4db;
    float: right;
    position: absolute;
     top: -0.4rem;
     left: 6rem;
}
.fin{
    width: 100%;
    height: .8rem;
    background-color: #f1a30f;
}
.fin p{
    text-align: center;
    color: #fff;
    line-height:.8rem ;
    font-size: .2667rem;
}