*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
body{
    background-color: #f4f4f4;
}
.top{
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#1448ae ;
}
.title{
    width:2.3rem;
    text-align: center;
    line-height: 1rem;
    color: white;
    font-size: .32rem;
}
.empty{
    text-align: center;
    height: 1rem;
    width: 1.2rem;
    line-height: 1rem;
    color: white;
    padding-right: .2rem;
    font-size: .26rem;
}
.left-arrow{
    height: 1rem;
    width: 0.6rem;
    text-align: center;
    line-height: 1rem;
    padding-left: .3rem;
}
i{
    font-size: .46rem;
    color: white;
}
.price{
    display: flex;
    padding: 0 .4rem;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.price1{
    height: 1rem;
    /* width: 100%; */
    padding-top: .2rem;
    line-height: .1rem;
    padding-left: .4rem;
    background-color: white;
}
.addition{
    display: flex;
}
.addition>input{
    width: 0.6rem;
    height: 0.4rem;
    text-align: center;
    line-height: .4rem;
    margin-top: .3rem;
    border: 0;
    outline: none;
    background-color: antiquewhite;
}
.humanity{
    color: #F2A410;
}
.sun{
    font-size: .20rem;
    line-height: .3rem;
}
.age{
    font-size: .20rem;
    color: #F2A410;
    line-height: .3rem;
}
.footer{
    height: 1rem;
    width: 100%;
    display: flex;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}
.end{
    height: 1rem;
    line-height: 1rem;
    width: 65%;
    text-align: center;
    font-size: .4rem;
    color: #F2A410;
}
.end>span{
   font-size: .2rem;
}
.stage{
    flex: 1;
    background-color: #F2A410;
    text-align: center;
    line-height: 1rem;
    color: white;
}
.choose{
    font-size: .25rem;
}
#demo {
	width: 300px;
	margin: 10px auto;
    background-color: white;
}
body{
    background-color: white;
}
p {
	margin: 0;
}
#dt {
	margin: 30px auto;
	height: 28px;
	width: 200px;
	padding: 0 6px;
	border: 1px solid #ccc;
	outline: none;
}
html {
	font: 500 14px 'roboto';
	color: #333;
	background-color: white;
}
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.er{
    height: 100px;
    width: 100%;
}