*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
body{
    background-color: #f4f4f4;
}
.top{
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#1448ae ;
}
.title{
    width:2rem;
    text-align: center;
    line-height: 1rem;
    color: white;
    font-size: .32rem;
}
.search{
    width: 100%;
    height: .8rem;
    background-color: #1448ae;
    /* border: 1px solid #1448ae; */
}
form{
    margin: 0 .23rem;
   
    padding-top: .1rem;
}
label{
    width: 100%;
    display: block;
    border-radius: .36rem;
    border: 1px solid white;
}
.left-arrow{
    height: 1rem;
    width: 0.6rem;
    text-align: center;
    line-height: 1rem;
    padding-left: .3rem;
}
i{
    font-size: .46rem;
    color: white;
}
label>input{
    width: 3rem;
    height: 0.6rem;
    outline: none;
    border: 0;
    background-color: #1448ae;
    margin-left: .6rem;
}
::-webkit-input-placeholder{
    color: white;
}
::-moz-placeholder{
    color: white;
}
.end{
    width: 100%;
    height: 1rem;
    background-color: #ededed;
    position: fixed;
    left: 0;
    bottom: 0;
}
a{
    height: 1.8rem;
    display: block;
}
.photos{
    display: flex;
    height: 1rem;
    
}
.photos>li{
    flex: 1;
    text-align: center;
    
}
.content{
    width: 100%;
    display: flex;
}
.guidance{
    width: 15%;
    background-color: #f4f4f4;
    height: 1.8rem;
    margin-top: 50px;
}
.locate{
    width: 85%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.locate-list{
    margin: .2rem 0;
    width: 45%;
    height: 2rem;
    background-color: white;
    margin-right: .20rem;
    border: 1px solid #ededed;
}
.locate-list img{
    width: 100%;
    height: 1.6rem;
}
.locate p{
    height: 0.4rem;
    width: 100%;
    line-height: .2rem;
    text-align: center;
}
.red>li{
    width: 100%;
    height: 1.7rem;
    background-color: #f4f4f4;

}
.first{
    text-align: center;
}
.imgs{
    margin-top: .4rem;
    margin: 0 auto;
    height: 50px;
    background-image: url(../img/sprites.png);
    /* background-size: 350px; */
    width: 50px;
    /* background-position: -456px -179px; */
    background-position: right -246px   top -181px;
}
.imgs1{
    margin-top: .4rem;
    margin: 0 auto;
    height: 50px;
    background-image: url(../img/sprites.png);
    /* background-size: 350px; */
    width: 50px;
    background-position: -539px -101px;
}
.imgs2{
    margin-top: .4rem;
    margin: 0 auto;
    height: 50px;
    background-image: url(../img/sprites.png);
    /* background-size: 350px; */
    width: 50px;
    background-position: -626px -102px;
}
.first>p{
    width: 100%;
    height: 0.6rem;
    line-height: .6rem;
    color: #1448ae;
}

a>p{
    display: block;
    width: 100%;
    height: 0.6rem;
    line-height: .6rem;
    color: #666666;
    text-align: center;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.three>p{
    width: 100%;
    height: 0.6rem;
    line-height: .6rem;
    color: #666;
    text-align: center;
}
.imgs3{
    height: .60rem;
    background-image: url(../img/sprites.png);
    /* background-size: 350px; */
    width: .60rem;
    background-size: 300px;
    margin: 0 auto;
    background-position: -13px -26px;
}
.imgs4{
    height: .60rem;
    background-image: url(../img/sprites.png);
    /* background-size: 350px; */
    width: .60rem;
    background-size: 300px;
    margin: 0 auto;
    background-position: -44px -61px;
}
.imgs5{
    height: .60rem;
    background-image: url(../img/sprites.png);
    /* background-size: 350px; */
    width: .60rem;
    background-size: 300px;
    margin: 0 auto;
    background-position: -78px -28px;
}
.imgs6{
    height: .60rem;
    background-image: url(../img/sprites.png);
    /* background-size: 350px; */
    width: .60rem;
    background-size: 300px;
    margin: 0 auto;
    background-position: -111px -28px;
}
.photo>p{
    font-size: .26rem;
    color: #666;
    text-decoration: none;
}
.photo>p.ative{
    color: #1448ae;
    font-weight: 700;
}