*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 1.6rem /* 120px -> 1.6rem */;
    background-color: #1448ae;
}
.num-1{
    width: 20%;
    height: 1.6rem /* 120px -> 1.6rem */;
    /* background-color: antiquewhite; */
    float: left;
    text-align: center;
    line-height: 1.6rem /* 120px -> 1.6rem */;
    
}
.icon-1{
    width: 20%;
    height: 1.6rem /* 120px -> 1.6rem */;
}
.num-2{
    width: 60%;
    height: 1.6rem /* 120px -> 1.6rem */;
    background-color: #1448ae;
    float: left;
    line-height: 1.6rem /* 120px -> 1.6rem */;
    text-align: center;
    color: white;
    font-size: .5333rem /* 25px -> .3333rem */;
}
.num-3{
    width:  15%;
    height: 1.6rem /* 120px -> 1.6rem */;
    color: white;
    background-color: #1448ae;
    float: left;
    line-height: 1.6rem /* 120px -> 1.6rem */;
    font-size: .3667rem /* 35px -> .4667rem */;
    text-align: center;
}
.dingdan-1{
    width: 100%;
    height: 5rem /* 600px -> 8rem */;
    background-color: #f4f4f4;
    margin-top: .2667rem /* 20px -> .2667rem */;
}
.ding-1{
    width: 90%;
    height: 1.5rem;
    float: left;
    margin-left: 5%;
    margin-bottom: .2667rem /* 20px -> .2667rem */;
}
.ding-2{
    width: 90%;
    height: 1.5rem;
    float: left;
    margin-left: 5%;
    margin-bottom: .2667rem /* 20px -> .2667rem */;
}
.ding-3{
    width: 90%;
    height: 1.5rem;
    float: left;
    margin-left: 5%;
}
.ding-1-1{
    width: 15%;
    height: 1.5rem;
    float: left;
}
.d-1{
    width: 50%;
    height: 50%;
    margin-top: 20%;
    margin-left: 10%;
}
.ding-1-2{
    width: 60%;
    height: 1.5rem;
    float: left;
    font-size: .5rem /* 30px -> .4rem */;
    color: #333333;
    line-height: 1.5rem;
}
.ding-1-3{
    width: 25%;
    height: 1.5rem;
    float: left;
    color: #f88412;
    line-height: 1.5rem;
    font-size: .5rem /* 30px -> .4rem */;
}
.ding-2-1{
    width: 15%;
    height: 1.5rem;
    background-color: #f4f4f4;
    float: left;
    
}
.ding-2-2{
    width: 60%;
    height: 1.5rem;
    float: left;
    
    font-size: .5rem /* 30px -> .4rem */;
    color:#666666;
    line-height: 1.5rem;
}
.ding-2-3{
    width: 25%;
    height: 1.7rem;
    float: left;
    font-size: .5rem /* 30px -> .4rem */;
    color: #666666;
    line-height: 1.5rem;
}
.ding-3-1{
    width: 2rem /* 200px -> 2.6667rem */;
    height: 1rem;
    float: right;
    margin-right: .2rem /* 30px -> .4rem */;
    margin-top: .2333rem /* 10px -> .1333rem */;
    background-color: white;
    color: #1ab2db;
    font-size: .4rem /* 30px -> .4rem */;
    border-style:solid;
  border-color:gainsboro;
  border-radius:10%;
}
.ding-3-3{
    width: 2rem /* 200px -> 2.6667rem */;
    height: 1rem;
    float: right;
    margin-right: .2rem /* 30px -> .4rem */;
    margin-top: .2333rem /* 10px -> .1333rem */;
    background-color: #1ab2db;
    color: white;
    font-size: .4rem /* 30px -> .4rem */;
    border-style:solid;
  border-color: #1ab2db;
  border-radius:10%;
}
.zz{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 4rem /* 300px -> 4rem */;
}
.nua-1{
    width: 100%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
    text-align: center;
    font-size: .4rem /* 30px -> .4rem */;
    line-height: 1.3333rem /* 100px -> 1.3333rem */;
    color: #9f9f9f;
}
.nua-2{
    width: 100%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
    text-align: center;
    font-size: .45rem /* 30px -> .4rem */;
    line-height: 1.3333rem /* 100px -> 1.3333rem */;
    color: #666666;
}
.bottom{
    width: 100%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
    background-color:#999999;
}
.bottom-1{
    float: left;
    width: 30%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
    margin-left: 5%;
}
.m{
    position: absolute;
    left:-0.15333rem /* -10px -> -0.1333rem */;
    top: -7.8rem /* -30px -> -0.4rem */;
}
.bottom-1-1{
width: 40%;
height: 100%;
position: relative;
overflow: hidden;
float: left;
}
.bottom-1-2{
    width: 60%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
    float: left;
    text-align: center;
    line-height: 1.3333rem /* 100px -> 1.3333rem */;
    color: white;
    font-size: .4rem /* 30px -> .4rem */;

    }
.bottom-2{
    float: left;
    width: 30%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
}
.mm{
    position: absolute;
    left:-1.5333rem /* -10px -> -0.1333rem */;
    top: -7.8rem /* -30px -> -0.4rem */;
}
.bottom-2-1{
width: 40%;
height: 100%;
position: relative;
overflow: hidden;
float: left;
}
.bottom-2-2{
    width: 60%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
    float: left;
    text-align: center;
    line-height: 1.3333rem /* 100px -> 1.3333rem */;
    color: white;
    font-size: .4rem /* 30px -> .4rem */;

    }
.bottom-3{
    float: left;
    width: 30%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
}
.mmm{
    position: absolute;
    left:-2.5333rem /* -10px -> -0.1333rem */;
    top: -7.8rem /* -30px -> -0.4rem */;
}
.bottom-3-1{
width: 40%;
height: 100%;
position: relative;
overflow: hidden;
float: left;
}
.bottom-3-2{
    width: 60%;
    height: 1.3333rem /* 100px -> 1.3333rem */;
    float: left;
    text-align: center;
    line-height: 1.3333rem /* 100px -> 1.3333rem */;
    color: white;
    font-size: .4rem /* 30px -> .4rem */;

    }